<h1> Portfolio Items </h1>

<%#<a href = "portfolios/new"> Create a new porfolio item</a>%>
<%= link_to "Create a new portfolio item", new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
